@charset "utf-8";
/* ============================================================ */
/* road */
/* ============================================================ */

/*  .road-bridge
----------------------------------------------------------- */
.road-bridge {
	margin-bottom: 120px !important;
}

.road-bridge .column3 {
	margin-bottom: 110px !important;
}

.road-bridge .table {
	min-width: 1238px;
}

/*  .road-waterway
----------------------------------------------------------- */
.road-waterway {
	margin: 0 0 90px;
}

.road-waterway__inner {
	margin: 0 0 115px;
}

.road-waterway__txt {
	margin: 0 0 60px;
}

.road-waterway__img {
}

.road-waterway .table {
	min-width: 1138px;
}

/*  .road-earthquakes
----------------------------------------------------------- */
.road-earthquakes {
	margin: 0 0 95px;
}

.road-earthquakes .table {
	min-width: 1138px;
}

/*  .road-other 
----------------------------------------------------------- */
.road-other {
	margin: 0 0 65px;
}

/* ============================================================ */
/* railways */
/* ============================================================ */

/*  .railways-train
----------------------------------------------------------- */
.railways-train {
	margin: 0 0 110px;
}

.railways-train .column2 .__col {
	margin: 0 0 30px;
}

.railways-train .column2 .__col:last-child {
	margin: 0;
}

/*  .railways-elevated
----------------------------------------------------------- */
.railways-elevated {
	margin: 0 0 140px;
}

.railways-elevated .column3 .__col {
	margin: 0 0 30px;
}

.railways-elevated .column3 .__col:last-child {
	margin: 0;
}

/*  .railways-bridge
----------------------------------------------------------- */
.railways-bridge {
	margin: 0 0 130px;
}

.railways-bridge .column3 .__col {
	margin: 0 0 30px;
}

.railways-bridge .column3 .__col:last-child {
	margin: 0;
}

/*  .railways-level
----------------------------------------------------------- */
.railways-level {
	margin: 0 0 95px;
}

.railways-level .column2 .__col {
	margin: 0 0 30px;
}

.railways-level .column2 .__col:last-child {
	margin: 0;
}

/*  .railways-railroad
----------------------------------------------------------- */
.railways-railroad {
	margin: 0 0 160px;
}

.railways-railroad__txt {
	margin: 0 0 90px;
}

.railways-railroad .table {
	min-width: 1118px;
}

/* ============================================================ */
/* urban */
/* ============================================================ */

/*  .urban-block
----------------------------------------------------------- */
.urban-block {
	margin: 0 0 110px;
}

/*  .urban-station
----------------------------------------------------------- */
.urban-station {
	margin: 0 0 75px;
}

.urban-station-block02 {
	margin: 0 0 85px;
}

.urban-station-block__txt {
	margin: 0 0 25px;
}

.urban-station-block__img {
}

.urban-station-block__item {
	margin: 0 0 25px;
}

.urban-station-block__item:last-child {
	margin: 0;
}

/*  .urban-results
----------------------------------------------------------- */
.urban-results {
	margin: 0 0 150px;
}

.urban-results .table {
	min-width: 1018px;
}

/* ============================================================ */
/* surveying */
/* ============================================================ */

/*  .surveying-ippan
----------------------------------------------------------- */
.surveying-ippan {
	margin: 0 0 165px;
}

.surveying-ippan-block {
	margin: 0 0 75px;
}

.surveying-ippan-block:last-child {
	margin: 0;
}

.surveying-ippan-block__txt {
	margin: 0 10px 55px;
}

/*  .surveying-ippan__3d
----------------------------------------------------------- */
.surveying-ippan__3d {
	margin: 0 0 100px;
}

.surveying-ippan__3d .column .__col {
	margin: 0 0 60px;
}

.surveying-ippan__3d .column .__col:last-child {
	margin: 0;
}

/*  .surveying-ippan__disaster
----------------------------------------------------------- */
.surveying-ippan__disaster .surveying-ippan-block__txt {
	margin: 0 10px 35px;
}

/*  .surveying-geological
----------------------------------------------------------- */
.surveying-geological {
	margin: 0 0 215px;
}

/*  .surveying-results
----------------------------------------------------------- */
.surveying-results {
	margin: 115px 0 110px;
}

.surveying-results .table {
	min-width: 898px;
}

/* ============================================================ */
/* structural */
/* ============================================================ */

/*  .structural-survey
----------------------------------------------------------- */
.structural-survey {
	margin: 0 0 110px;
}

.structural-survey .__col {
	margin-bottom: 60px;
}

.structural-survey .__col:last-child {
	margin-bottom: 0;
}

/*  .structural-inspection
----------------------------------------------------------- */
.structural-inspection {
	margin: 0 0 95px;
}

.structural-inspection .__col {
	margin-bottom: 30px;
}

.structural-inspection .__col:last-child {
	margin-bottom: 0;
}

/*  .structural-disaster
----------------------------------------------------------- */
.structural-disaster {
	margin: 0 0 120px;
}

.structural-disaster-block {
}

.structural-disaster-block__txt {
	margin: 0 10px 35px;
}

/*  .structural-results
----------------------------------------------------------- */
.structural-results {
	margin: 0 0 150px;
}

.structural-results .table {
	min-width: 1018px;
}


/* ============================================================ */
/* icm */
/* ============================================================ */

/*  .icm-section
----------------------------------------------------------- */
.icm-section {
	margin: 0 0 175px;
}

.icm-section-block {
	margin: 0 0 115px;
}

.icm-section-block:last-child {
	margin: 0;
}

.icm-section-block._rainfall_ {
	margin: 0 0 100px;
}

.icm-section-block__inner {
}

.icm-section-block__img {
}

.icm-section-block__inner._map_ .icm-section-block__img {
	width: 65%;
	margin: 0 auto;
}

.icm-section-block__img .__inner {
	width: auto;
}

.icm-section-block__txt {
	margin: 0 10px 40px;
}

.icm-section-block__position {
	display: flex;
	justify-content: space-between;
	margin: 0 -6px;
}

.icm-section-block__position .__item {
	width: calc((100% - 24px) / 2);
	margin: 0 6px;
}

.icm-section-block._rainfall_ .__col {
	margin: 0 0 30px;
}

.icm-section-block._rainfall_ .__col:last-child {
	margin: 0;
}

/*  .bim-section
----------------------------------------------------------- */
.bim-section {
	margin: 0 0 90px;
}

.bim-section-block {
	margin: 0 0 50px;
}

.bim-section-block .h3 {
	font-size: 2.0rem;
	margin: 0 0 10px;
}

.bim-section-block .column .__col {
	margin: 0 0 30px;
}

.bim-section-block .column .__col:last-child {
	margin: 0;
}

.bim-section-block__inner {
}

.bim-section-block__txt {
	margin: 0 0 50px;
}

.bim-section-block__position {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 -11px;
}

.bim-section-block__position .__item {
	margin: 0 11px;
}

/* ============================================================ */
/* construction */
/* ============================================================ */

/*  .construction-control
----------------------------------------------------------- */
.construction-control {
	margin: 0 0 105px;
}

.construction-control .column .__col {
	margin: 0 0 60px;
}

.construction-control .column .__col:last-child {
	margin: 0;
}

/*  .construction-estimate
----------------------------------------------------------- */
.construction-estimate {
	margin: 0 0 105px;
}

.construction-estimate-block {
}

.construction-estimate-block__txt {
	margin: 0 10px 40px;
}

/*  .construction-property
----------------------------------------------------------- */
.construction-property {
	margin: 0 0 140px;
}

/*  .construction-results
----------------------------------------------------------- */
.construction-results {
	margin: 0 0 120px;
}

.construction-results .table {
	min-width: 1058px;
}

/* ============================================================ */
/* estate */
/* ============================================================ */

/*  .estate-rental
----------------------------------------------------------- */
.estate-rental {
	margin: 0 0 140px;
}

.estate-rental__inner {
	margin: 0 0 70px;
}

.estate-rental__bnr {
	margin: 0 0 40px;
}

.estate-rental__table .table {
	border: 1px solid var(--black-text);
}

.estate-rental__table .table th {
	border-right: 1px solid var(--black-text);
}

.estate-rental__table .table th ,
.estate-rental__table .table td {
	padding: 10px 15px;
}

.estate-rental .column .__col {
	margin: 0 0 60px;
}

.estate-rental .column .__col:last-child {
	margin: 0;
}

/*  .estate-loan
----------------------------------------------------------- */
.estate-loan {
	margin: 0 0 135px;
}

/*  .estate__inner
----------------------------------------------------------- */
.estate__inner {
}

.estate__txt {
	margin: 0 10px 40px;
}

/*  .estate-tenant
----------------------------------------------------------- */
.estate-tenant {
	margin: 0 0 110px;
}

.estate-tenant .column .__col {
	margin: 0 0 60px;
}

.estate-tenant .column .__col:last-child {
	margin: 0;
}

.estate-tenant__block {
	margin: 95px 0 0;
}

/*  .estate-maintenance
----------------------------------------------------------- */
.estate-maintenance {
	margin: 0 0 95px;
}

/* ============================================================ */
/* architectural */
/* ============================================================ */

/*  .architectural-tab
----------------------------------------------------------- */
.architectural-tab {
	margin: 0 0 60px;
}

.architectural-tab__inner {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
}

.architectural-tab__item {
	width: calc((100% - 20px) / 2);
	margin: 0 5px 10px;
}

.architectural-tab__link {
	border: 1px solid #aaa;
	border-bottom: 5px solid #aaa;
	padding: 7px 5px 5px;
	width: 100%;
	display: block;
	color: var(--black-text);
	position: relative;
	font-size: 1.8rem;
	text-align: center;
}

.architectural-tab__link .__space {
	letter-spacing: -0.45rem;
}

.architectural-tab__link.active {
	border-bottom: 5px solid var(--red);
}

/*  .architectural-block
----------------------------------------------------------- */
.architectural-block {
	/*margin-bottom: 280px;
	padding-top: 135px;*/
}

/*.architectural-block._facilities_ {
	margin-bottom: 160px;
}

.architectural-block._commercial_ {
	margin-bottom: 170px;
}*/

/*  .architectural-example
----------------------------------------------------------- */
.architectural-example {
	border-bottom: 1px dashed var(--black-text);
	padding: 0 0 40px;
	margin: 0 0 40px;
  /*display: flex;
  justify-content: space-between;
  width: 100%;
	height: 100% !important;
	margin-bottom: 190px;*/
}

.architectural-example:last-child {
	border-bottom: none;
	padding: 0;
	margin: 0;
}

.architectural-example-detail {
	margin: 0 10px 30px;
}

.architectural-example-detail .h3 {
	font-size: 2.4rem;
	margin: 0 0 15px !important;
}

.architectural-example-detail__top .__txt {
}

.architectural-example-img {
}

.architectural-example-slider {
	width: 100%;
	height: 276px;
}

@media only screen and (min-width: 420px) and (max-width: 768px) {
	.architectural-example-slider {
		height: 370px;
	}
}

.architectural-example-slider__item {
	width: 100%;
	height: 276px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .4s;
	position: relative;
}

@media only screen and (min-width: 420px) and (max-width: 768px) {
	.architectural-example-slider__item {
		height: 370px;
	}
}

.architectural-example-slider__item .__elem {
	width: 100%;
	height: 276px;
	object-fit: cover;
	position: relative;
	z-index: 1;
}

@media only screen and (min-width: 420px) and (max-width: 768px) {
	.architectural-example-slider__item .__elem {
		height: 370px;
	}
}

.architectural-example-slider__item .__caption {
	position: absolute;
	bottom: 7px;
	right: 7px;
	z-index: 2;
	background: var(--white);
	padding: 5px;
	font-size: 1.2rem;
}

.architectural-example-nav {
	margin: 10px 0 0;
	display: flex !important;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

.architectural-example-nav .slick-list {
	padding: 0 !important;
	margin: 0 -5px;
	width: calc(100% + 10px);
}

.architectural-example-nav .slick-track {
	width: 100% !important;
	position: relative;
	transform: translate3d(0px, 0px, 0px) !important;
}

.architectural-example-nav__item {
	width: calc((100% - 40px) / 4) !important;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	opacity: 0.6;
	transition: all .4s;
	position: relative;
}

@media only screen and (min-width: 420px) and (max-width: 768px) {
	.architectural-example-nav__item {
		height: 85px;
	}
}

.architectural-example-nav__item .__elem {
	width: 100%;
	height: 64px;
	object-fit: cover;
	position: relative;
	z-index: 1;
}

@media only screen and (min-width: 420px) and (max-width: 768px) {
	.architectural-example-nav__item .__elem {
		height: 85px;
	}
}

.architectural-example-nav__item .__caption {
	position: absolute;
	bottom: 5px;
	right: 5px;
	z-index: 2;
	background: var(--white);
	padding: 3px;
	font-size: 0.5rem;
}

.architectural-example-nav__item.slick-current {
	opacity: 1;
}

.architectural-example-table {
	margin: 30px 0 0;
	padding: 0 10px;
}

.architectural-example-table .table th {
	padding: 5px 10px 5px 0;
	font-size: 1.7rem;
	font-weight: 400;
}

.architectural-example-table .table td {
	padding: 5px 0 5px 10px;
	border-left: 1px solid var(--black-text);
	font-size: 1.7rem;
}

/*  index
----------------------------------------------------------- */
.architectural-index-inner {
	margin: 0 0 55px;
}

/*  facilities
----------------------------------------------------------- */
.facilities-inner {
	margin: 0 0 50px;
}

.facilities-results {
	margin: 0 0 50px;
}

.facilities-results .table {
	min-width: 1015px;
}

.facilities-results._index_ .table {
	min-width: 1057px;
}

/*  office
----------------------------------------------------------- */
.office-inner {
}